Source: alacritty
Maintainer: glyphpoch <glyphpoch@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends:
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 debhelper (>= 13),
 cmake,
 pkg-config,
 libfreetype6-dev,
 libfontconfig1-dev,
 libxcb-xfixes0-dev,
 python3

Package: alacritty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast, cross-platform, OpenGL terminal emulator
 Alacritty is a modern terminal emulator that comes with sensible defaults, but
 allows for extensive configuration. By integrating with other applications,
 rather than reimplementing their functionality, it manages to provide a
 flexible set of features with high performance.
