#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	cargo clean

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	mkdir -p debian/alacritty/usr/share/man/man1/
	gzip "extra/alacritty.man" -c > "debian/alacritty/usr/share/man/man1/alacritty.1.gz"
	install -Dm04755 "target/release/alacritty" "debian/alacritty/usr/bin/alacritty"
	install -Dm0644 "extra/completions/alacritty.bash" "debian/alacritty/usr/share/bash-completion/completions/alacritty"
	install -Dm0644 "extra/completions/alacritty.fish" "debian/alacritty/usr/share/fish/vendor_completions.d/alacritty.fish"
	install -Dm0644 "extra/completions/_alacritty" "debian/alacritty/usr/share/zsh/vendor-completions/_alacritty"
	install -Dm0644 "extra/logo/alacritty-term.svg" "debian/alacritty/usr/share/pixmaps/Alacritty.svg"
	install -Dm0644 "extra/linux/Alacritty.desktop" "debian/alacritty/usr/share/applications/Alacritty.desktop"

override_dh_installexamples:
	dh_installexamples "alacritty.yml"

override_dh_compress:
	dh_compress -Xexamples
